<p [style.color]="color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<p [style.font-size]="isSpecial ? '40px':'8px'">Lorem ipsum dolor sit Ex veritatis sed veniam. Nesciunt enim explicabo dolores necessitatibus, sit architecto aut nemo</p>
<p [ngStyle]="calculatedStyle"> tempore omnis obcaecati exercitationem cum, voluptatum earum. Aperiam, fuga.</p>
<p [class.specialPerson]="isSpecial"> tempore omnis obcaecati exercitationem cum, voluptatum earum. Aperiam, fuga.</p>
<p [ngClass]="calculatedClasses">a</p>